<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Add Advance Details</h4>
            </div>
            <form action="#">
                <div class="card-body">
                    <h4 class="card-title">Add Advance</h4>
                </div>
                <hr>
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Name :</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="enter Name">
                                    <!-- <small class="form-control-feedback"></small> -->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Contact Number:</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Enter Contact Number">
                                    <!-- <small class="form-control-feedback"> </small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Designation:</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Enter Designation">
                                    <!-- <small class="form-control-feedback"> </small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Date:</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Enter Date">
                                    <!-- <small class="form-control-feedback"></small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Advance Amount:</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Enter Amount">
                                    <!-- <small class="form-control-feedback"></small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Remark:</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Enter Remark">
                                    <!-- <small class="form-control-feedback"> </small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Payment Mode:</label>
                                    <select class="form-control custom-select">
                                        <option value="">Cash</option>
                                        <option value="">Cheque</option>
                                        <option value="">Net Banking</option>
                                        
                                    </select>
                                    <small class="form-control-feedback"> Select Payment Mode </small>
                                </div>
                            </div>
                            
                            <!--/span-->
                        </div>
                        <!--/row-->
                       
                        <!--/row-->
                       
                        <!--/row-->
                        <!-- <h4 class="card-title m-t-40">Address</h4> -->
                    </div>
                    <hr>
                  
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

