<div class="main-content" style="margin-left: 100px;">

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
    <div class="card">
    <div class="card-header card-header-success">
      <button mat-raised-button id="modal-cancel-button" style="margin-left:550px;margin-right: 20px;" (click)="closeModal()">Close</button>
 
    <button
    type="button"
    class="btn"
    (click)="downloadImage()"
  >
  Export as PNG
  </button>
   
    </div>
    
    <div class="card-body">
        <table #screen cellspacing="0" border="3"  cellpadding="2">
            <tr height="60" style="background-color: rgb(21, 21, 110);color:white;text-align: center;font-size: large;">
                <th colspan="15">Kinara school</th>
                <img src="../assets/images/kinara_school_yermal.png" alt="Flowers in Chania" width="100" height="100">
            </tr>
            <tr>
                <th rowspan="3">SLno</th>
                <th rowspan="3">exam Name</th>
                <th rowspan="3">start Date</th>
                <th rowspan="3">end Date</th>
                <th rowspan="3">Total Marks</th>
                <th rowspan="3">hour</th>
                <th rowspan="3">class name</th>
            </tr>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{examname}}</td>
            <td>{{startdate}}</td>
            <td>{{enddate}}</td>
            <td>{{totmarks}}</td>
            <td>{{hour}}</td>
            <td>{{classname}}</td>
           
        </tr>
        
        </tbody>
        

     
      
     
            
        </table>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>
    <div id="download">
        <img #canvas>
        <a #downloadLink></a>
      </div>

  
