<div class="row" *ngIf="isDean">
<div class="col-sm-12 col-md-5">
  <div class="card">
      <div class="card-body">
          <!-- <h4 class="card-title">Search</h4> -->
          <form class="m-t-20">
              <div class="row">
                  <div class="col-md-4">
                    <label>Class:</label>
                    <select class="form-control custom-select" #selectedclasss name="class_name">
                      <option *ngFor="let item of feetypes" [value]="item.class_name">{{item.class_name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 block-tag">
                    <br>
                      <button type="button" class="btn studentcard1 btn-rounded" (click)="valueSelectedd(selectedclasss.value)" ><i class="fa fa-pencil"></i> search</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

  <div class="col-md-2">
    <input
      type="text"
      id="myInput"
      class="form-control" style="margin-left:350px;"
      placeholder="Search here..."
      [(ngModel)]="term"
      title="Type in a name"
    />
  </div>
</div>
<div class="row" *ngIf="isDean">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View Fee Types</h4>

        <div class="table-responsive">
          <table class="table table-hover studentcard2">
            <thead class="studentcard text-white">
              <tr>
                <th scope="col">SLno.</th>
                <th scope="col">Class Name</th>
                <th scope="col">Academic Year</th>
                <th scope="col">Admission Fee</th>
                <th scope="col">Tuition Fee</th>
                <th scope="col">Exam Fee</th>
                <th scope="col">Computer Fee</th>
                <th scope="col">Transport Fee</th>
                <th scope="col">Food Fee</th>
                <th scope="col">Hostel Fee</th>
                <th scope="col">Miscellaneous Fee</th>
                <th scope="col">Total Fee</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fee of feeee  | paginate
              : {
                  id: 'listing_pagination',
                  itemsPerPage: 15,
                  currentPage: page,
                  totalItems: totalRec
                }
            | filter: term; let i = index">
                <th scope="row">{{(page-1)*15+i+1}}</th>
                <td>{{ fee.class_name }}</td>
                <td>{{ fee.academic_year }}</td>
                <td>{{ fee.admission_fee }}</td>
                <td>{{ fee.tuition_fee }}</td>
                <td>{{ fee.exam_fee }}</td>
                <td>{{ fee.computer_fee }}</td>
                <td>{{ fee.transport_fee }}</td>
                <td>{{ fee.food_fee }}</td>
                <td>{{ fee.hostel_fee }}</td>
                <td>{{ fee.misc_fee }}</td>
                <td>{{ totalfee(fee)}}</td>
                
                <td>
                  <button
                    type="button"
                    class="btn dlt btn-rounded"
                    (click)="openFee(feedatamodal, fee)"
                  >
                  <i class="far fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls
              id="listing_pagination"
              maxSize="5"
              directionLinks="true"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-actions" *ngIf="isDean">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <button
              type="submit"
              class="btn pnt"
              printSectionId="feeee"
              ngxPrint
            >
              <i class="fa fa-pencil"></i>Print
            </button>
            <button type="button" style="margin-left: 10px; margin-right:10px;" class="btn studentcard1" (click)="download()">
              Download To Excel
            </button>
            <!-- <button type="submit" class="btn btn-secondary">
              <i class="fa fa-pencil"></i> back
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="feeee">
  <table border="2" cellspacing="0">
    <tr>
      <th colspan="10" style="text-align: center">Fee Details</th>
    </tr>
      <tr>
        <th scope="col">SLno.</th>
        <th scope="col">Class Name</th>
        <th scope="col">Academic Year</th>
        <th scope="col">Admission Fee</th>
        <th scope="col">Tuition Fee</th>
        <th scope="col">Exam Fee</th>
        <th scope="col">Computer Fee</th>
        <th scope="col">Transport Fee</th>
        <th scope="col">Food Fee</th>
        <th scope="col">Hostel Fee</th>
        <th scope="col">Miscellaneous Fee</th>
        <th scope="col">Total Fee</th>
        
       
      </tr>
   
    <tbody>
      <tr *ngFor="let fee of feetypes ; let i = index">
        <th scope="row">{{(page-1)*15+i+1}}</th>
                <td>{{ fee.class_name }}</td>
                <td>{{ fee.academic_year }}</td>
                <td>{{ fee.admission_fee }}</td>
                <td>{{ fee.tuition_fee }}</td>
                <td>{{ fee.exam_fee }}</td>
                <td>{{ fee.computer_fee }}</td>
                <td>{{ fee.transport_fee }}</td>
                <td>{{ fee.food_fee }}</td>
                <td>{{ fee.hostel_fee }}</td>
                <td>{{ fee.misc_fee }}</td>
                <td>{{ totalfee(fee)}}</td>
      
       
      </tr>
    </tbody>
  </table>
</div>

<ng-template #feedatamodal let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editfeeForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <h4 class="card-title">Update Fee Types</h4>
      </div>
      <hr />
      <div class="form-body">
        <div class="card-body">
            <div class="row p-t-20">
                <div class="col-md-4">
                    <div class="form-group has-success">
                      <label class="control-label">Class:</label>
                   
                      <input 
                  type="text" 
                  class="form-control" 
                 
                  formControlName="class_name"
                  [(ngModel)]="fee.class_name"
                  [ngModelOptions]="{ standalone: true }"
                  name="class_name"
                  list= "ddOptions"
                  
                  />
                  <datalist id="ddOptions">
                    <!-- <option *ngFor="let test of classmemo" [value]="test.class_name">{{test.class_name}}</option> -->
                  </datalist>
                     
                    </div>
                  </div>
                 
                <!--/span-->
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Academic Year</label>
                        <input type="text" formControlName="academic_year" [(ngModel)]="fee.academic_year"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Academic Year">
                        <small class="form-control-feedback"> </small>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Admission Fee</label>
                        <input type="text"  formControlName="admission_fee" [(ngModel)]="fee.admission_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Admission Fee">
                        <small class="form-control-feedback"> </small>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Tuition Fee</label>
                        <input type="text"  formControlName="tuition_fee" [(ngModel)]="fee.tuition_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Tuition Fee">
                        <small class="form-control-feedback"></small>
                    </div>
                </div>
              

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Exam Fee</label>
                        <input type="text"  formControlName="exam_fee" [(ngModel)]="fee.exam_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Exam Fee">
                        <small class="form-control-feedback"></small>
                    </div>
                </div>
              

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Computer Fee</label>
                        <input type="text"  formControlName="computer_fee" [(ngModel)]="fee.computer_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Computer Fee">
                        <small class="form-control-feedback"> </small>
                    </div>
                </div>
              

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Tranport Fee</label>
                        <input type="text"  formControlName="transport_fee" [(ngModel)]="fee.transport_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Transport Fee">
                        <small class="form-control-feedback">  </small>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Food Fee</label>
                        <input type="text"  formControlName="food_fee" [(ngModel)]="fee.food_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Food Fee">
                        <small class="form-control-feedback">  </small>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Hostel Fee</label>
                        <input type="text"  formControlName="hostel_fee" [(ngModel)]="fee.hostel_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Hostel Fee">
                        <small class="form-control-feedback"> </small>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <label class="control-label">Miscellaneos Fee</label>
                        <input type="text"  formControlName="misc_fee" [(ngModel)]="fee.misc_fee"
                        [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Miscellaneous Fee">
                        <small class="form-control-feedback"> </small>
                    </div>
                </div>
               
                
              
            </div>
           
            
        </div>
        <hr>
      
        <div class="form-actions">
            <div class="card-body">
                <button type="submit" class="btn studentcard1" (click)="Updatestaff(fee.id)">
                    <i class="fa fa-check"></i> Save</button>
                <button type="button" style="margin-right: 10px;margin-left: 10px;" (click)="modal.close('Save click')" class="btn btn-secondary">Cancel</button>
               
            </div>
        </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button> -->
  </div>
</ng-template>
