<div class="row" *ngIf="isDean">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Time Table</h4>
        <form [formGroup]="timetabForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group has-success">
                  <label class="control-label">Select Class:</label>
                  <select
                    formControlName="class_name"
                    class="form-control custom-select"
                  >
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                    <option value="Third">Third</option>
                    <option value="Fourth">Fourth</option>
                  </select>
                  <small class="form-control-feedback">
                    Select Class
                  </small>
                </div>
              </div>
              <div *ngIf="timetabForm.controls['class_name'].invalid && timetabForm.controls['class_name'].touched" class="alert alert-danger">
                <div *ngIf="timetabForm.controls['class_name'].errors.required">
              Class Name is required.
              </div>
            </div> 



              <div class="col-md-4">
                <div class="form-group has-success">
                  <label class="control-label">Select Section:</label>
                  <select
                    formControlName="section"
                    class="form-control custom-select"
                  >
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <!-- <option value="C">C</option>
                    <option value="D">D</option> -->
                  </select>
                  <small class="form-control-feedback">
                    Select Section
                  </small>
                </div>
              </div>
              <div *ngIf="timetabForm.controls['section'].invalid && timetabForm.controls['section'].touched" class="alert alert-danger">
                <div *ngIf="timetabForm.controls['section'].errors.required">
             Section is required.
              </div>
            </div> 



              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Date</label>
                  <input
                    type="datetime-local"
                    formControlName="timetable_date"
                    class="form-control"
                    placeholder=""
                  />
                </div>
              </div>
              <div *ngIf="timetabForm.controls['timetable_date'].invalid && timetabForm.controls['timetable_date'].touched" class="alert alert-danger">
                <div *ngIf="timetabForm.controls['timetable_date'].errors.required">
              Current Date  is required.
              </div>
            </div> 

            </div>
           </div>


          <table class="table">
            <tr>
              <th colspan="2"></th>
              <th width="50px">
               
              </th>
            </tr>
            <tr
              *ngFor="let periodss of periods; let i = index;"
              
            >
              <td>
                <label class="control-label">Time From :</label>
                <input
                  type="time"
                  name="from_time{{periodss.id}}"
                  class="form-control"
                  placeholder="Name" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.from_time"
                />
              </td>
              <td>
                <label class="control-label">Time to :</label>
                <input
                 type="time"
                  name="to_time{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.to_time"
                />
              </td>
              <td>
                <label class="control-label">Monday:</label>
                <input
                  type="text"
                  name="monday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.monday"
                />
              </td>
              <td>
                <label class="control-label">Tuesday :</label>
                <input
                  type="text"
                  name="Tuesday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.Tuesday"
                />
              </td>
              <td>
                <label class="control-label">Wednesday :</label>
                <input
                  type="text"
                  name="wednesday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.wednesday"
                />
              </td>
              <td>
                <label class="control-label">Thursday:</label>
                <input
                  type="text"
                  name="thursday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.thursday"
                />
              </td>
              <td>
                <label class="control-label">Friday :</label>
                <input
                  type="text"
                  name="friday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.friday"
                />
              </td>
              <td>
                <label class="control-label">Saturday:</label>
                <input
                  type="text"
                  name="saturday{{periodss.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="periodss.saturday"
                />
              </td>
              <td>
                <button (click)="removeQuantity(i)" class="btn btn-danger">
                  Remove
                </button>
              </td>
            </tr>
          </table>

          <div class="form-actions">
            <div class="text-right">
              <button type="submit" class="btn studentcard1 mr-2">Submit</button>
              <button type="reset" style="margin-left: 10px;margin-right:10px;" class="btn btn-secondary">Reset</button>
              <button
              type="button"
              (click)="addQuantity()"
              class="btn addm"
            >
              Add periods
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />



