<div class="row"  *ngIf="isDean">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-dark">Institute Settings</h4>
      </div>
      <form [formGroup]="instituteForm" (ngSubmit)="submitForm()" novalidate>
        <!-- <div class="card-body">
          <h4 class="card-title">Update Institute Details</h4>
        </div> -->
        <hr />
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
            
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Institute Name:</label>
                  <input
                    type="text"
                    formControlName="instituteName"
                    class="form-control form-control-danger"
                    [(ngModel)]="instituteName"
                    placeholder="Enter Institute Name"
                  />
                  <!-- <small class="form-control-feedback"> </small> -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Founder Name :</label>
                  <input
                    type="text"
                    formControlName="founderName"
                    class="form-control form-control-danger"
                    [(ngModel)]="founderName"
                    placeholder="Enter Founder Name"
                  />
                  <!-- <small class="form-control-feedback"> </small> -->
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Started Year:</label>
                  <input
                    type="date"
                    formControlName="startedYear"
                    class="form-control form-control-danger"
                    [(ngModel)]="startedYear"
                    placeholder="Enter Contact Number"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div> -->
              <div class="col-md-4">
                <div class="form-group has-success">
                  <label class="control-label"> Affiliation :</label>
                  <select
                    formControlName="affiliationName"
                    class="form-control custom-select"
                    [(ngModel)]="affiliationName"
                  >
                    <option value="CBSE">CBSE</option>
                    <option value="KSEEB">KSEEB</option>
                    <option value="ICSE">ICSE</option>
                    <option value="NIOS">NIOS</option>
                  </select>
                  <small class="form-control-feedback">
                    Select Affiliation
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Address :</label>
                  <input
                    type="text"
                    formControlName="address"
                    class="form-control form-control-danger"
                    [(ngModel)]="address"
                    placeholder="Enter Address"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">City :</label>
                  <input
                    type="text"
                    formControlName="city"
                    class="form-control form-control-danger"
                    [(ngModel)]="city"
                    placeholder="Enter Short Code"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">State :</label>
                  <input
                    type="text"
                    formControlName="state"
                    class="form-control form-control-danger"
                    [(ngModel)]="state"
                    placeholder="Enter Email Address"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Country :</label>
                  <input
                    type="text"
                    formControlName="country"
                    class="form-control form-control-danger"
                    [(ngModel)]="country"
                    placeholder="Enter Email Address"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Short Code:</label>
                  <input
                    type="text"
                    formControlName="shortCode"
                    class="form-control form-control-danger"
                    [(ngModel)]="shortCode"
                    placeholder="Enter Email Address"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Email Address:</label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control form-control-danger"
                    [(ngModel)]="email"
                    placeholder="Enter Email Address"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Landline No.:</label>
                  <input
                    type="text"
                    formControlName="landline"
                    class="form-control form-control-danger"
                    [(ngModel)]="landline"
                    placeholder="Enter Landline No."
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Contact No.:</label>
                  <input
                    type="text"
                    formControlName="contactNumber"
                    class="form-control form-control-danger"
                    [(ngModel)]="contactNumber"
                    placeholder="Enter Contact Number"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>

              <div class="col-md-4">
                <img
                     src="http://localhost:8000{{ img }}"
                     width="200"
                     height="150"
                   />
                   <div class="form-group">
                     <label>Logo:</label>
                     <input
                     formControlName="instituteLogo"
                       id="instituteLogo"
                       type="file"
                       #file
                       class="form-control"
                       (change)="onFileSelected($event)"
                     />
                   </div>
               </div>
             
              
              <!--  -->
             
        
            </div>
          </div>
          <table class="table">
            <tr>
              <th colspan="2"></th>
              <th width="50px">
               
              </th>
            </tr>
            <tr
              *ngFor="let institutemores of institutemore; let i = index;"
              
            >
              <td>
                <label class="control-label"> Field Name :</label>
                <input
                  type="text"
                  name="name_{{institutemores.id}}"
                  class="form-control"
                  placeholder="Name" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="institutemores.name"
                />
              </td>
              <td>
                <label class="control-label">Value :</label>
                <input
                  type="text"
                  name="value_{{institutemores.id}}"
                  class="form-control"
                  placeholder="value"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="institutemores.value"
                />
              </td>
              <td>
                <button (click)="removeQuantity(i)" class="btn btn-danger">
                  Remove
                </button>
              </td>
            </tr>
          </table>
       

          <div class="form-actions">
            <div class="card-body">
            <button type="submit" class="btn studentcard1" *ngIf='instiiii.length == 0'>
                <i class="fa fa-check"></i> Save
              </button>
              <button type="button" class="btn studentcard1" *ngIf="instiiii.length > 0"
                 style="margin-left: 10px;margin-right: 10px;"  (click)=" Updateinstitute(institutionId)"  >
              <i class="fa fa-check"></i> Update
            </button>
              <!-- <button type="button" class="btn btn-secondary">Cancel</button> -->
              <button
              type="button"
              (click)="addQuantity()"
              class="btn addm"
            >
              Add More
            </button>
            
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="row justify-content-center" >
  <div class="col-12 col-md-8 col-lg-6 pb-5 mt-3">
    <div class="card border-danger"> -->
      <!-- <div class="card-header p-0">
        <div class="bg-danger text-white text-center py-2">
          <h3><i class="fa fa-envelope"></i> </h3>
          <p class="m-0" >{{ activeFilter.label }}</p>
        </div>
      </div> -->
      <div class="card-body p-3">
        <div class="card text-success" *ngIf="success">
          <div class="card-body">Thanks For the Enqiry Our Technical team will get back to you.</div>
          <div class="card-body mt-5">
            You can call us on <a href="tel: +91740337888"> +91 740 337 888</a> for further details and follow-up.
          </div>
        </div>
        <div class="card text-danger" *ngIf="errMsg">
          <div class="card-body">Something went wrong. Please Try again!</div>
        </div>
      </div>
 