<div class="row" *ngIf="isDean">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header studentcard">
        <h4 class="m-b-0 text-dark">Staff Registration Form</h4>
      </div>
      <form [formGroup]="staffForm" (ngSubmit)="submitForm()">
        <div class="card-body">
          <!-- <h4 class="card-title">Add Staff</h4> -->
        </div>
        <hr />
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Name :</label>
                  <input
                    type="text"
                    formControlName="staff_name"
                    class="form-control form-control-danger"
                    name="staff_name"
                    placeholder="Enter Name"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['staff_name'].invalid &&
                  staffForm.controls['staff_name'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['staff_name'].errors.required">
                  Staff Name is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Reg No.:</label>
                  <input
                    type="text"
                    formControlName="reg_num"
                    class="form-control"
                    name="reg_num"
                    placeholder="Enter Registration Number"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['reg_num'].invalid &&
                  staffForm.controls['reg_num'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['reg_num'].errors.required">
                  Register Number is required.
                </div>
              </div>
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group has-success">
                  <label class="control-label">Select Gender:</label>
                  <br>
                  <select
                    class="form-control custom-select"
                    formControlName="gender"
                    name="gender"
                    
                  >
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                  </select>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['gender'].invalid &&
                  staffForm.controls['gender'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['gender'].errors.required">
                  Gender is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Age :</label>
                  <input
                    type="text"
                    formControlName="age"
                    class="form-control form-control-danger"
                    name="age"
                    placeholder="Enter Age"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['age'].invalid &&
                  staffForm.controls['age'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['age'].errors.required">
                  Age is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">DOB :</label>
                  <input
                    type="datetime-local"
                    formControlName="dob"
                    class="form-control form-control-danger"
                    name="dob"
                    placeholder="Enter DOB"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['dob'].invalid &&
                  staffForm.controls['dob'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['dob'].errors.required">
                  date of Birth is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Designation :</label>
                  <input
                    type="text"
                    formControlName="designation"
                    class="form-control form-control-danger"
                    name="designation"
                    placeholder="Enter Designation"
                  />
                  <small class="form-control-feedback"></small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['designation'].invalid &&
                  staffForm.controls['designation'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['designation'].errors.required">
                  designation is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Father's Name :</label>
                  <input
                    type="text"
                    formControlName="father_name"
                    class="form-control form-control-danger"
                    name="father_name"
                    placeholder="Enter Fathers Name"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['father_name'].invalid &&
                  staffForm.controls['father_name'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['father_name'].errors.required">
                  Father Name is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Mother's Name :</label>
                  <input
                    type="text"
                    formControlName="mothers_name"
                    class="form-control form-control-danger"
                    name="mothers_name"
                    placeholder="Enter Mothers Name"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['mothers_name'].invalid &&
                  staffForm.controls['mothers_name'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['mothers_name'].errors.required">
                  Mother Name is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Phone :</label>
                  <input
                    type="text"
                    formControlName="phone"
                    class="form-control form-control-danger"
                    name="phone"
                    placeholder="Enter phone"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['phone'].invalid &&
                  staffForm.controls['phone'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['phone'].errors.required">
                  Phone Number is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Email Adress :</label>
                  <input
                    type="text"
                    formControlName="email"
                    class="form-control form-control-danger"
                    name="email"
                    placeholder="Enter Email Address"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['email'].invalid &&
                  staffForm.controls['email'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['email'].errors.required">
                  email is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Qualification :</label>
                  <input
                    type="text"
                    formControlName="qualification"
                    class="form-control form-control-danger"
                    name="qualification"
                    placeholder="Enter Qualification"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['qualification'].invalid &&
                  staffForm.controls['qualification'].touched
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="staffForm.controls['qualification'].errors.required"
                >
                  Qualification is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Date Of Joining :</label>
                  <input
                    type="datetime-local"
                    formControlName="doj"
                    class="form-control form-control-danger"
                    name="doj"
                    placeholder="Enter Date Of Joining"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['doj'].invalid &&
                  staffForm.controls['doj'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['doj'].errors.required">
                  Date of Joining is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Subject :</label>
                  <input
                    type="text"
                    formControlName="subject"
                    class="form-control form-control-danger"
                    name="subject"
                    placeholder="Enter Subject"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['subject'].invalid &&
                  staffForm.controls['subject'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['subject'].errors.required">
                  Subject is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Year Of Experience:</label>
                  <input
                    type="text"
                    formControlName="yoe"
                    class="form-control form-control-danger"
                    name="yoe"
                    placeholder="Enter YOE"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  staffForm.controls['yoe'].invalid &&
                  staffForm.controls['yoe'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['yoe'].errors.required">
                  Year of Experience is required.
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Staff Photo:</label>
                  <input
                    formControlName="staff_photo"
                    id="staff_photo"
                    type="file"
                    class="form-control"
                    name="staff_photo"
                    (change)="uploadFile($event)"
                  />
                </div>
                <img
                  [src]="imageSrc"
                  *ngIf="imageSrc"
                  style="height: 200px; width: 300px"
                />
              </div>
              <div
                *ngIf="
                  staffForm.controls['staff_photo'].invalid &&
                  staffForm.controls['staff_photo'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="staffForm.controls['staff_photo'].errors.required">
                  Staff photo is required.
                </div>
              </div>
            </div>
            <table class="table">
              <tr>
                <th colspan="2"></th>
                <th width="50px">
                 
                </th>
              </tr>
              <tr
                *ngFor="let staffiess of staffies; let i = index;"
                
              >
                <td>
                  <label class="control-label"> Field Name :</label>
                  <input
                    type="text"
                    name="name_{{staffiess.id}}"
                    class="form-control"
                    placeholder="Name" 
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="staffiess.name"
                  />
                </td>
                <td>
                  <label class="control-label">Value :</label>
                  <input
                    type="text"
                    name="value_{{staffiess.id}}"
                    class="form-control"
                    placeholder="value"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="staffiess.value"
                  />
                </td>
                <td>
                  <button (click)="removeQuantity(i)" class="btn btn-danger">
                    Remove
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <hr />

          <div class="form-actions">
            <div class="card-body">
              <button
                type="submit"
                class="btn studentcard1"
                [disabled]="!staffForm.invalid"
                style="margin-right: 10px"
              >
                <i class="fa fa-check"></i> Save
              </button>
              <!-- <button
                type="button"
                style="margin-left: 10px; margin-right: 10px"
                class="btn btn-secondary"
              >
                Cancel
              </button> -->
              <button type="button" (click)="addQuantity()" class="btn addm">
                Add More
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
