<table cellspacing="0" border="3" style="width: 800px;" cellpadding="2">
    <tr height="60">
        <th colspan="11">Kinara school</th>
    </tr>
    <tr>
        <th rowspan="3">SLno</th>
        <th rowspan="3">Name</th>
        <th colspan="6">Subject</th>
        <th rowspan="3">Total Marks</th>
        <th rowspan="3">Obtained marks</th>
        <th rowspan="3">Percentage</th>
    </tr>

    <tr>
        <th colspan="2">Mathametics</th>
        <th colspan="2">English</th>
        <th colspan="2">Computer</th>
    </tr>

    <tr>
        <th>Theory</th>
        <th>Practical</th>
        <th>Theory</th>
        <th>practical</th>
        <th>Theory</th>
        <th>practical</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Kavya</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>100</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Nidhi</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>100</th>
    </tr>
    <tr>
        <th>3</th>
        <th>ashwitha</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>100</th>
    </tr>
    <tr>
        <th>4</th>
        <th>Rashmi</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>100</th>
    </tr>
    <tr>
        <th>5</th>
        <th>ashwini</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>400</th>
        <th>300</th>
        <th>100</th>
    </tr>

    <tr height="50"><th colspan="11"> Created by :Vijayalaxmi</th></tr>
</table>
