<div class="row text-center" *ngIf="isDean">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Next
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>

  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="view" *ngIf="isDean">
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event.day)"
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    
    [events]="events"
  >
  </mwl-calendar-day-view>
</div>

<br>

<div class="row" *ngIf="isDean">
  <div class="col-lg-12">
    <div class="card">
      <div class="col-lg-2 col-md-4" *ngIf="isDean">
        <a [routerLink]="['/calender/listcalender']">
          <button type="button" class="btn btn-block btn-lg studentcard1 text-white">
            Event List
          </button>
        </a>
      </div>
      <div class="card-header studentcard"></div>
      <form [formGroup]="addeventForm" (ngSubmit)="submitForm()">
        <div class="card-body">
          <h4 class="card-title">Add Event</h4>
        </div>
        <hr />
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Start date :</label>
                  <input
                    type="datetime-local"
                    formControlName="startdate"
                    class="form-control form-control-danger"

                    placeholder="Enter start date"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  addeventForm.controls['startdate'].invalid &&
                  addeventForm.controls['startdate'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="addeventForm.controls['startdate'].errors.required">
                  Start date is required.
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">End date :</label>
                  <input
                    type="datetime-local"
                    formControlName="enddate"
                    class="form-control form-control-danger"
                   
                    placeholder="Enter end date"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Title :</label>
                  <input
                    type="text"
                    formControlName="titlee"
                    class="form-control form-control-danger"
                    name="titlee"
                    placeholder="Enter title"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  addeventForm.controls['titlee'].invalid &&
                  addeventForm.controls['titlee'].touched
                "
                class="alert alert-danger"
              >
                <div *ngIf="addeventForm.controls['titlee'].errors.required">
                  Title is required.
                </div>
              </div>

              <!--/span-->
            </div>
          </div>
          <hr />

          <div class="form-actions">
            <div class="card-body">
              <button
                type="submit"
                class="btn studentcard1"
                [disabled]="addeventForm.invalid"
              >
                <i class="fa fa-check"></i> Save
              </button>
              <!-- <button
                type="button"
                style="margin-left: 10px"
                class="btn btn-secondary"
              >
                Cancel
              </button> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
