
<div class="row" *ngIf="isDean">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header ">
          <h4 class="m-b-0 text-dark">Add Question</h4>
        </div>
        <form [formGroup]="addquizForm" (ngSubmit)="onSubmit()">
         
          <div class="form-body">
            <div class="card-body">
              <div class="row p-t-20">
                <div class="col-md-12">
                    <div class="form-group has-danger">
                      <label class="control-label">Quiz Question :</label>
                      <textarea
                        class="form-control"
                        formControlName="question"
                        rows="5"
                        placeholder="Text question"
                      ></textarea>
                      <!-- <small class="form-control-feedback"> </small> -->
                    </div>
                  </div>
                  <div *ngIf="addquizForm.controls['question'].invalid && addquizForm.controls['question'].touched" class="alert alert-danger">
                    <div *ngIf="addquizForm.controls['question'].errors.required">
                Question is required.
                  </div>
                </div>
              
                <!--/span-->
                <div class="col-md-3">
                  <div class="form-group has-danger">
                    <label class="control-label">Option A:</label>
                    <input
                      type="text"
                      formControlName="optionA"
                      class="form-control form-control-danger"
                      placeholder="Enter Options"
                    />
                    <!-- <small class="form-control-feedback"> </small> -->
                  </div>
                </div>
                <div *ngIf="addquizForm.controls['optionA'].invalid && addquizForm.controls['optionA'].touched" class="alert alert-danger">
                  <div *ngIf="addquizForm.controls['optionA'].errors.required">
              Option A is required.
                </div>
              </div>

                <div class="col-md-3">
                  <div class="form-group has-danger">
                    <label class="control-label">Option B:</label>
                    <input
                      type="text"
                      formControlName="optionB"
                      class="form-control form-control-danger"
                      placeholder="Enter Options"
                    />
                    <!-- <small class="form-control-feedback"> </small> -->
                  </div>
                </div>
                <div *ngIf="addquizForm.controls['optionB'].invalid && addquizForm.controls['optionB'].touched" class="alert alert-danger">
                  <div *ngIf="addquizForm.controls['optionB'].errors.required">
              Option B is required.
                </div>
              </div>


                <div class="col-md-3">
                  <div class="form-group has-danger">
                    <label class="control-label">Option C:</label>
                    <input
                      type="text"
                      formControlName="optionC"
                      class="form-control form-control-danger"
                      placeholder="Enter Options"
                    />
                    <!-- <small class="form-control-feedback"> </small> -->
                  </div>
                </div>
                <div *ngIf="addquizForm.controls['optionC'].invalid && addquizForm.controls['optionC'].touched" class="alert alert-danger">
                  <div *ngIf="addquizForm.controls['optionC'].errors.required">
              Option C required.
                </div>
              </div>


                <div class="col-md-3">
                  <div class="form-group has-danger">
                    <label class="control-label">Option D:</label>
                    <input
                      type="text"
                      formControlName="optionD"
                      class="form-control form-control-danger"
                      placeholder="Enter Options"
                    />
                    <!-- <small class="form-control-feedback"> </small> -->
                  </div>
                </div>
                <div *ngIf="addquizForm.controls['optionD'].invalid && addquizForm.controls['optionD'].touched" class="alert alert-danger">
                  <div *ngIf="addquizForm.controls['optionD'].errors.required">
              Option D is required.
                </div>
              </div>



                <div class="col-md-4">
                <div class="form-group has-success">
                  <label class="control-label">Answer:</label>
                  <select
                    name="answer"
                    formControlName="answer"
                    class="form-control custom-select"
                  >
                    <option value="optionA">Option A</option>
                    <option value="optionB">Option B</option>
                    <option value="optionC">Option C</option>
                    <option value="optionD">option D</option>
                  </select>
                  <!-- <small class="form-control-feedback">
                    Select Correct Answer
                  </small> -->
                </div>
                </div>
                <div *ngIf="addquizForm.controls['answer'].invalid && addquizForm.controls['answer'].touched" class="alert alert-danger">
                  <div *ngIf="addquizForm.controls['answer'].errors.required">
              Answer is required.
                </div>
              </div>

              <hr>
            

        <div class="form-actions">
          <div class="card-body">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-check"></i> Save
            </button>
            <!-- <button type="button" class="btn btn-dark">Cancel</button> -->
          </div>
        </div>
      
    
           
          </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  