<div class="row" *ngIf="isDean">
<div class="col-sm-12 col-md-5">
  <div class="card">
      <div class="card-body">
          <!-- <h4 class="card-title">Search</h4> -->
          <form class="m-t-20">
              <div class="row">
                  <div class="col-md-4">
                    <label>Roll no.</label>
                    <select class="form-control custom-select" #selectedroll name="class_name">
                      <option *ngFor="let item of penal" [value]="item.rollno">{{item.rollno}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 block-tag">
                    <br>
                      <button type="button" class="btn studentcard1 btn-rounded" (click)="valueSelectedd(selectedroll.value)" ><i class="fa fa-pencil"></i> search</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>


  <div class="col-md-2">
    <input
      type="text"
      id="myInput"
      class="form-control"
      style="margin-left:350px"
      placeholder="Search here..."
      [(ngModel)]="term"
      title="Type in a name"
    />
  </div>
</div>

<div class="row" *ngIf="isDean">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Penalty Details</h4>
               
                <div class="table-responsive studentcard2">
                    <table class="table table-hover studentcard2">
                        <thead class="studentcard text-white">
                            <tr>
                                <th scope="col">SLno.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll No.</th>
                                <th scope="col">Class</th>
                                <th scope="col">Section</th>
                                <th scope="col">Penalty</th>
                                <th scope="col">Penalty Reason</th>
                                <th scope="col">Penalty Remark</th>
                              
                               
                                <th scope="col">Action</th>
                                <th scope="col">Action</th>
                               
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let penalty of penalties  | paginate
                            : {
                                id: 'listing_pagination',
                                itemsPerPage: 15,
                                currentPage: page,
                                totalItems: totalRec
                              }
                          | filter: term; let i =index">
                                <th scope="row">{{(page-1)*10+i+1}}</th>
                                <td>{{penalty.student_name}}</td>
                                <td>{{penalty.rollno}}</td>
                                <td>{{penalty.class_name}}</td>
                                <td>{{penalty.section}}</td>
                                <td>{{penalty.penalty}}</td>
                                <td>{{penalty.penalty_reason}}</td>
                                <td>{{penalty.penalty_remark}}</td>
                               
                                
                                <button
                                type="button"
                                class="btn dlt btn-rounded text-white"
                                (click)="openpenalty(penaltyinfomodal, penalty)"
                              >
                                <i class="far fa-edit"></i>
                              </button>
                                <td><button 
                                  class="btn dlt btn-rounded action"
                                 mwlConfirmationPopover
                                 [popoverTitle]="popoverTitle"
                                 [popoverMessage]="popoverMessage"
                                 placement="left"
                                 (confirm)="deleteRow(penalty.id)"
                                 (cancel)="cancelClicked = true">
                                                   <i class="far fa-trash-alt"></i>
                                                 </button></td>
                              
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    <div>
                      <pagination-controls
                        id="listing_pagination"
                        maxSize="5"
                        directionLinks="true"
                        (pageChange)="page = $event"
                      ></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions" *ngIf="isDean">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button
                type="submit"
                class="btn pnt"
                printSectionId="pennyy"
                ngxPrint
              >
                <i class="fa fa-pencil"></i>Print
              </button>
              <button type="button" style="margin-left: 10px;margin-right: 10px;" class="btn studentcard1" (click)="download()">
                Download To Excel
              </button>
              <!-- <button type="submit" class="btn btn-secondary">
                <i class="fa fa-pencil"></i> back
              </button> -->
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>

  <div id="pennyy">
    <table border="2" cellspacing="0">
      <tr>
        <th colspan="10" style="text-align: center">Fee Details</th>
      </tr>
          <tr>
            <th scope="col">SLno.</th>
            <th scope="col">Name</th>
            <th scope="col">Roll No.</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Penalty</th>
            <th scope="col">Penalty Reason</th>
            <th scope="col">Penalty Remark</th>
            
             
             
          
          </tr>
    
      <tbody>
          <tr *ngFor="let penalty of penalties ; let i =index">
            <th scope="row">{{i+1}}</th>
            <td>{{penalty.student_name}}</td>
            <td>{{penalty.rollno}}</td>
            <td>{{penalty.class_name}}</td>
            <td>{{penalty.section}}</td>
            <td>{{penalty.penalty}}</td>
            <td>{{penalty.penalty_reason}}</td>
            <td>{{penalty.penalty_remark}}</td>
             
            
              
          </tr>
          
      </tbody>
  </table>
  </div>

  
<ng-template #penaltyinfomodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="penaltyForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
          <h4 class="card-title">Update Penalty Details</h4>
      </div>
      <hr>
      <div class="form-body">
          <div class="card-body">
              <div class="row p-t-20">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="control-label">Student Name :</label>
                          <input type="text"  formControlName="student_name"  [(ngModel)]="penalty.student_name"
                          [ngModelOptions]="{ standalone: true }"  class="form-control" placeholder="enter Student name">
                          <small class="form-control-feedback">  </small>
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Class:</label>
                          <input type="text" formControlName="class_name" [(ngModel)]="penalty.class_name"
                          [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Class">
                          <small class="form-control-feedback"> </small>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Section</label>
                          <input type="text" formControlName="section" [(ngModel)]="penalty.section"
                          [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Section">
                          <small class="form-control-feedback"> </small>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Roll No.:</label>
                          <input type="text" formControlName="rollno" [(ngModel)]="penalty.rollno"
                          [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Rollno.">
                          <small class="form-control-feedback"></small>
                      </div>
                  </div>
              
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Penalty Amount</label>
                          <input type="text" formControlName="penalty" [(ngModel)]="penalty.penalty"
                          [ngModelOptions]="{ standalone: true }"  class="form-control form-control-danger" placeholder="Enter Penalty amount">
                          <small class="form-control-feedback"> </small>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Penalty Reason:</label>
                          <input type="text" formControlName="penalty_reason" [(ngModel)]="penalty.penalty_reason"
                          [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter Penalty Reason">
                          <small class="form-control-feedback">  </small>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group has-danger">
                          <label class="control-label">Penalty Remark</label>
                          <input type="text" formControlName="penalty_remark" [(ngModel)]="penalty.penalty_remark"
                          [ngModelOptions]="{ standalone: true }" class="form-control form-control-danger" placeholder="Enter penalty remark">
                          <small class="form-control-feedback">  </small>
                      </div>
                  </div>
                  
                  <!--/span-->
              </div>
             
          </div>
          <hr>
        
          <div class="form-actions">
              <div class="card-body">
                  <button type="submit" class="btn studentcard1" (click)="Updatepenalty(penalty.id)">
                      <i class="fa fa-check"></i> Save</button>
                  <button type="button" style="margin-right: 10px;margin-left: 10px;" (click)="modal.close('Save click')" class="btn btn-secondary">Cancel</button>
                 
              </div>
          </div>
      </div>
  </form>
  </div>
  <div class="modal-footer">
    <!-- <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button> -->
  </div>
</ng-template>


