<div class="row">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header studentcard">
        <h4 class="card-title">Add Category</h4>
      </div>
      <form [formGroup]="addcategoryForm" (ngSubmit)="submitForm()">
        <div class="card-body"></div>
        <hr />
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Category :</label>
                  <input
                    type="text"
                    formControlName="category"
                    class="form-control form-control-danger"
                    name="category"
                    placeholder="Enter Category"
                  />
                  <!-- <small class="form-control-feedback"> </small> -->
                </div>
                <div
                  *ngIf="
                    addcategoryForm.controls['category'].invalid &&
                    addcategoryForm.controls['category'].touched
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="addcategoryForm.controls['category'].errors.required"
                  >
                    Category is required.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Percentage :</label>
                  <input
                    type="number"
                    formControlName="Percentage"
                    class="form-control form-control-danger"
                    name="Percentage"
                    min="0"
                    max="100"
                    placeholder="Enter Fee concession in Percentage."
                  />
                  <!-- <small class="form-control-feedback"> </small> -->
                </div>
                <div
                  *ngIf="
                    addcategoryForm.controls['Percentage'].invalid &&
                    addcategoryForm.controls['Percentage'].touched
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="addcategoryForm.controls['Percentage'].errors.required"
                  >
                    Percentage is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="form-actions">
            <div class="card-body">
              <button
                type="submit"
                class="btn studentcard1"
                [disabled]="addcategoryForm.invalid"
              >
                <i class="fa fa-check"></i> Save
              </button>
              <button
                type="button"
                style="margin-left: 10px"
                class="btn btn-secondary"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header studentcard">
        <h4 class="card-title">View Concessions for Category</h4>

        <div class="table-responsive studentcard2">
          <table class="table table-hover studentcard2 ">
            <thead class="studentcard text-white">
              <tr>
                <th scope="col">SL.NO</th>
                <th scope="col">Class Name</th>
                <th scope="col">Section</th>
                <th scope="col">Teacher</th>
                <th scope="col">Subjects</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
             
              <tr *ngFor="
              let classs of classes
                | paginate
                  : {
                      id: 'listing_pagination',
                      itemsPerPage: 15,
                      currentPage: page,
                      totalItems: totalRec
                    }
                | filter: term;
              let i = index
            " >
            <th scope="row">{{(page-1)*10+i+1}}</th>
              
                <td>{{ classs.class_name }}</td>
                <td>{{ classs.section }}</td>
                <td>{{ classs.teachers.staff_name }}</td>
                <td>{{ classs.Maths? 'Maths' : ''}}<br>
                    {{ classs.computer? 'computer' : ''}}<br>
                    {{ classs.english? 'english' : ''}}<br>
                    {{ classs.hindi? 'hindi' : ''}}<br>
                    {{ classs.kannada? 'kannada' : ''}}<br>
                    {{ classs.pt? 'pt' : ''}}<br>
                    {{ classs.science? 'science' : ''}}<br>
                    {{ classs.social_science? 'social_science' : ''}}</td>
                    <td>
                      <button
                      type="button"
                      class="btn dlt btn-rounded text-white"
                      (click)="openclass(classinfomodal, classs)"
                    >
                      <i class="far fa-edit"></i>
                    </button>
                      <button 
                        class="btn btn-outline-secondary"
                        mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="left"
                        (confirm)="deleteRow(class.id)"
                        (cancel)="cancelClicked = true">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls
              id="listing_pagination"
              maxSize="5"
              directionLinks="true"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div> -->
