<div class="row">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header studentcard">
        <h4 class="card-title">Add Category</h4>
      </div>
      <form [formGroup]="addcategoryForm" (ngSubmit)="submitForm()">
        <div class="card-body"></div>
        <hr />
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <!--/span-->
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Category :</label>
                  <input
                    type="text"
                    formControlName="category"
                    class="form-control form-control-danger"
                    name="category"
                    placeholder="Enter Category"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  addcategoryForm.controls['category'].invalid &&
                  addcategoryForm.controls['category'].touched
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="addcategoryForm.controls['category'].errors.required"
                >
                  Category is required.
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-danger">
                  <label class="control-label">Percentage :</label>
                  <input
                    type="number"
                    formControlName="Percentage"
                    class="form-control form-control-danger"
                    name="Percentage"
                    placeholder="Enter Percentage"
                  />
                  <small class="form-control-feedback"> </small>
                </div>
              </div>
              <div
                *ngIf="
                  addcategoryForm.controls['Percentage'].invalid &&
                  addcategoryForm.controls['Percentage'].touched
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="addcategoryForm.controls['Percentage'].errors.required"
                >
                  Percentage is required.
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="form-actions">
            <div class="card-body">
              <button
                type="submit"
                class="btn studentcard1"
                [disabled]="addcategoryForm.invalid"
              >
                <i class="fa fa-check"></i> Save
              </button>
              <button
                type="button"
                style="margin-left: 10px"
                class="btn btn-secondary"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
