<div class="card-group">
  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/student/studentdetails']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-danger">
            <i class="mdi mdi-account text-white"></i>
          </span>
        </div>
        <div>Total Students</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{studentcount}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/staff/stafflist']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg btn-info">
            <i class="mdi mdi-account text-white"></i>
          </span>
        </div>
        <div>Total Teachers</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{staffcount}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/class/classlist']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-success">
            <i class="mdi mdi-account text-white"></i>
          </span>
        </div>
        <div>Total Class</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{classcount}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->

</div>
<!-- Card -->
<div class="card-group">
  <!-- Card -->

  <!-- Card -->
  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/book/booklist']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg btn-info">
            <i class="mdi mdi-book-open-variant text-white"></i>
          </span>
        </div>
        <div>Total Books</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{bookcount}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/vehicle/vehiclelist']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-success">
            <i class="icon-Bus text-white"></i>
          </span>
        </div>
        <div>Total Vehicles</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{vehiclecount}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>

  <div class="card">                                                                 
    <div class="card-body">
      <a [routerLink]="['/feereport/paidstudent']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-success">
            <i class="mdi mdi-currency-usd text-white"></i>
          </span>
        </div>
        <div>Total Fees</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{totalfees}}</h2>
        </div>
      </div>
    </a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->

</div>




<!-- Card -->
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/feereport/paidstudent']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-warning">
            <i class="mdi mdi-currency-usd text-white"></i>
          </span>
        </div>
        <div>Total Paid Fees</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{totalpaidfee}}</h2>
        </div>
      </div>
      </a>                                                                  
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/feereport/paidstudent']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-warning">
            <i class="mdi mdi-currency-usd text-white"></i>
          </span>
        </div>
        <div>Total Due Fees</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{totalduefee}}</h2>
        </div>
      </div>
    </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a [routerLink]="['/expense/viewexpense']" >
      <div class="d-flex align-items-center">
        <div class="m-r-10">
          <span class="btn btn-circle btn-lg bg-warning">
            <i class="mdi mdi-currency-usd text-white"></i>
          </span>
        </div>
        <div>Total Expense</div>
        <div class="ml-auto">
          <h2 class="m-b-0 font-light">{{totalexpense}}</h2>
        </div>
      </div>
      </a>
    </div>
  </div>
  
  <!-- Card -->
  <!-- Column -->
</div>





